:root {
  --yellow: #FFFF88;
  --red: #c00000;
  --green: #008000;
  --purple: #800080;

  /* 2.25 x 3.5 is standard card size... probably */
  /* pixel size is x40 these dimensions */
  --card-width: 140px;
  --card-height: 90px;
  --small-scale: 0.33;

  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

@media (max-width: 550px) {
  :root {
    --card-width: 105px;
    --card-height: 67.5px;
  }
}

@media (max-width: 440px) {
  :root {
    --card-width: 70px;
    --card-height: 45px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 20px;
}

h3 {
  margin: 0px 0px 10px;
  font-weight: bolder;
  font-size: 20px;
}

p {
  margin: 0px;
}

p+p {
  margin: 10px 0px 0px;
}

#content {
  margin: auto;
  width: 100%;
  max-width: 1250px;
  display: flex;
}

@media (max-width: 768px) {
  #content {
    display: flex;
    flex-direction: column;
  }

  #info-panel {
    order: 3;
  }

  #game-panel {
    order: 1;
  }

  #right-panel {
    order: 2;
  }
}

#info-panel {
  flex-grow: 0;
  flex-basis: 25%;
}

#game-panel {
  flex-grow: 1;
  flex-basis: auto;
}

#right-panel {
  flex-grow: 0;
  flex-basis: 25%;
}

#title {
  font-size: xx-large;
  width: 100%;
  text-align: center;
}

#info-panel details {
  margin: 20px 10px;
  width: auto;
  height: min-content;
  border: 2px solid;
  border-color: black;
  border-radius: 8px;
  padding: 10px;
  hyphens: auto;
}

#info-panel details:first-of-type {
  margin: 10px;
}

#info-panel summary {
  list-style: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 20px;
  display: block;
}

#info-panel summary::-webkit-details-marker {
  display: none;
}

#info-panel span {
  position: relative;
  display: flex;
  align-items: center;
}

#info-panel summary span::before {
  content: "";
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: 0.5rem;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><polygon points='4,2 12,8 4,14' fill='currentColor'/></svg>");

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  transition: transform 500ms ease;
}

#info-panel summary.opened span::before {
  transform: rotate(90deg);
}

#info-panel .details-content {
  overflow: hidden;
  transition: height 500ms ease, opacity 500ms ease;
  height: 0px;
  opacity: 0;
}

#info-panel .details-content .inner {
  padding-top: 10px;
}

#game-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: stretch;
}

#board {
  margin: 10px;
  border: 2px solid;
  border-color: black;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  padding: 10px;
}

.card-wrapper.ghost {
  opacity: 0;
}

.card-wrapper {
  margin: 10%;
  container: card / inline-size;
}

.card {
  aspect-ratio: 3.5 / 2.25;
  border: 2cqmin solid;
  border-color: black;
  border-radius: 8% / calc(8% * 3.5/2.25);
  padding: 10% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.card:hover:not(.preview) {
  box-shadow: 0px 0px 10px -2px black;
}

.card.selected {
  background-color: var(--yellow);
}

.card.red {
  --fill-color: var(--red);
  --stroke-color: var(--red);
}

.card.green {
  --fill-color: var(--green);
  --stroke-color: var(--green);
}

.card.purple {
  --fill-color: var(--purple);
  --stroke-color: var(--purple);
}

.shape {
  margin: 2.212px;
  height: 100%;
}

svg.shape .fill {
  fill: var(--fill-color);
}

svg.shape .stroke {
  fill: none;
  stroke: var(--fill-color);
  stroke-width: 18px;
}

#match-container {
  margin: 10px;
  padding: 10px;
  border: 2px solid;
  border-color: black;
  border-radius: 8px;
}

@media (max-width: 768px) {
  #match-container {
    padding: 5px;
  }
}

#match-header {
  text-align: center;
  font-size: x-large;
  width: 100%;
}

.matches {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  container: match-preview / inline-size;
}

@media (max-width: 768px) {
  .matches {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.match-preview {
  margin: 5%;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.match-preview:not(.example):not(:has(.ghost)):has(*) {
  background-color: var(--yellow);
}

@media (max-width: 768px) {
  .match-preview {
    border-radius: 6px;
  }
}

#timer {
  font-size: x-large;
  width: 100%;
  text-align: center;
}

#toast-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  pointer-events: none;
}

.toast {
  margin: 10px;
  width: 12em;
  height: 2em;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0px 0px 10px -2px black;
  margin-top: calc(-2em - 10px);

  /* Transition settings */
  opacity: 0;
  transform: translateY(calc(2em + 20px));
  transition:
    opacity 500ms ease-in-out,
    transform 500ms ease-in-out,
    margin-top 500ms ease-in-out;
}

.toast.success {
  background-color: var(--green);
}

.toast.info {
  background-color: var(--purple);
}

.toast.fail {
  background-color: var(--red);
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
  margin-top: 10px;
}

.toast.hide {
  opacity: 0;
  transform: translateY(-1em);
}

@keyframes blink-animation {
  50% {
    visibility: hidden;
  }
}

.blink {
  animation: blink-animation 1s steps(1, start) 0.5s infinite;
  animation-delay: 0.5s;
}