:root {
  --yellow: #FFFF88;
  --red: #c00000;
  --green: #008000;
  --purple: #800080;

  /* 2.25 x 3.5 is standard card size... probably */
  /* pixel size is x40 these dimensions */
  --card-width: 140px;
  --card-height: 90px;
  --small-scale: 0.33;

  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

@media (max-width: 550px) {
  :root {
    --card-width: 105px;
    --card-height: 67.5px;
  }
}

@media (max-width: 440px) {
  :root {
    --card-width: 70px;
    --card-height: 45px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 20px;
}

h3 {
  margin: 0px 0px 10px;
  font-weight: bolder;
  font-size: 20px;
}

p {
  margin: 0px;
}

p+p {
  margin: 10px 0px 0px;
}

#content {
  width: 100%;
  display: flex;
}

@media (max-width: 768px) {
  #content {
    display: flex;
    flex-direction: column;
  }

  #info-panel {
    order: 2;
  }

  #game-panel {
    order: 1;
  }

  #right-panel {
    order: 3;
  }
}

#info-panel {
  flex-grow: 1;
  flex-basis: 25%;
}

#game-panel {
  flex-grow: 0;
  flex-basis: auto;
}

#right-panel {
  flex-grow: 1;
  flex-basis: 25%;
}

#title {
  font-size: xx-large;
  width: 100%;
  text-align: center;
}

#info-panel details {
  margin: 20px 10px;
  width: auto;
  height: min-content;
  border: 2px solid;
  border-color: black;
  border-radius: 8px;
  padding: 10px;
  hyphens: auto;
}

#info-panel details:first-of-type {
  margin: 10px;
}

#info-panel summary {
  list-style: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 20px;
  display: block;
}

#info-panel summary::-webkit-details-marker {
  display: none;
}

#info-panel span {
  position: relative;
  display: flex;
  align-items: center;
}

#info-panel summary span::before {
  content: "";
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: 0.5rem;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'\
       viewBox='0 0 16 16'><polygon points='4,2 12,8 4,14' fill='currentColor'/></svg>");

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  transition: transform 500ms ease;
}

#info-panel summary.opened span::before {
  transform: rotate(90deg);
}

#info-panel .details-content {
  overflow: hidden;
  transition: height 500ms ease, opacity 500ms ease;
  height: 0px;
  opacity: 0;
}

#info-panel .details-content .inner {
  padding-top: 10px;
}

#game-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#board {
  margin: 10px;
  width: min-content;
  height: min-content;
  border: 2px solid;
  border-color: black;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  padding: 10px;
}

.card-wrapper.ghost {
  opacity: 0;
}

.card-wrapper {
  margin: 10px;
}

.card-wrapper.preview {
  width: calc(var(--card-width) * var(--small-scale));
  height: calc(var(--card-height) * var(--small-scale));
  margin: 2.5px;
}

.card {
  padding: calc(var(--card-width) * 0.05);
  width: var(--card-width);
  height: var(--card-height);
  border: 3px solid;
  border-color: black;
  border-radius: calc(var(--card-width) * 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@media (max-width: 550px) {
  .card {
    border: 2px solid;
  }
}

.card.preview {
  scale: var(--small-scale);
  transform-origin: top left;
}

.card:hover:not(.preview) {
  box-shadow: 0px 0px 10px -2px black;
}

.card.selected {
  background-color: var(--yellow);
}

.card.red {
  --fill-color: var(--red);
  --stroke-color: var(--red);
}

.card.green {
  --fill-color: var(--green);
  --stroke-color: var(--green);
}

.card.purple {
  --fill-color: var(--purple);
  --stroke-color: var(--purple);
}

.shape {
  margin: 2.212px;
  height: 100%;
}

svg.shape .fill {
  fill: var(--fill-color);
}

svg.shape .stroke {
  fill: none;
  stroke: var(--fill-color);
  stroke-width: 18px;
}

#match-container {
  margin: 10px;
  padding: 10px;
  width: min-content;
  height: min-content;
  border: 2px solid;
  border-color: black;
  border-radius: 8px;
}

#match-header {
  text-align: center;
  font-size: x-large;
  width: 100%;
}

.matches {
  display: flex;
}

.match-preview {
  /* width: 61.333px; */
  /* height: 109px; */
  margin: 10px;
  padding: 2.5px;
  border: 2px solid;
  border-color: black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.match-preview:not(.example):not(:has(.ghost)):has(*) {
  background-color: var(--yellow);
}

@media (max-width: 550px) {
  .match-preview {
    margin: 7px;
  }
}

@media (max-width: 440px) {
  .match-preview {
    margin: 4px;
  }
}

#timer {
  font-size: x-large;
  width: 100%;
  text-align: center;
}

#toast-container {
  height: 118px;
}

.toast {
  padding: 10px;
  margin: 10px;
  width: 160px;
  height: 24px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0px 0px 10px -2px black;

  /* Transition settings */
  opacity: 0;
  transform: translateY(12px);
  transition: opacity 320ms cubic-bezier(.42, 0, .58, 1), transform 320ms cubic-bezier(.42, 0, .58, 1);
}

.toast.success {
  background-color: var(--green);
}

.toast.info {
  background-color: var(--purple);
}

.toast.fail {
  background-color: var(--red);
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast.hide {
  opacity: 0;
  transform: translateY(12px);
}

.toast .message {
  width: 100%;
  text-align: center;
}

@keyframes blink-animation {
  50% {
    visibility: hidden;
  }
}

.blink {
  animation: blink-animation 1s steps(1, start) 0.5s infinite;
  animation-delay: 0.5s;
}